{% extends 'mainwebsite/base.html' %}

{% block main %}
    <!-- ======= About Section ======= -->
    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>About slickSERVICES</h2>
                </div>
                </div>
            </div>
            <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                    <a href="#">
                        <img src="../static/mainwebsite/img/about/1.jpg" alt="">
                    </a>
                    </div>
                </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                    <p>
                        At Slick Services, we stand firm in our conviction that extraordinary individuals want to make progress with uprightness. This is the reason we have made software and web application design & development firm that highly esteems developing a network who effectively draw in with our clients to arrive at primary business objectives and dreams. 
                    </p>
                    <p>
                        We feel remunerated whenever we find the opportunity to decidedly impact somebody's life since we communicated with them and help fulfill their dreams. This remains constant for our relationship with each client, worker, seller, contender, prospect, and research respondent that we interact with.
                    </p>
                    Experience that Matters 
                    <ul>
                        <li>
                        <i class="fa fa-check"></i> Research, programming, software development, and undertaking supervisory group speaking to Top 50 research and statistical surveying firms.
                        </li>
                        <li>
                        <i class="fa fa-check"></i> Our particular team originates from the greatest and most regarded statistical surveying and software development firms.
                        </li>
                        <li>
                        <i class="fa fa-check"></i>	SLICKSERVICES analysts, venture supervisors, board masters and software engineers have been liable for many studies finishes for reads customized and facilitated for big organizations significant colleges and numerous other of all shapes and sizes organizations.
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
            <!-- End col-->
        
            <br>
            <br>
        
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline services-head text-center">
                    <h2>Our Uniue Features</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center">
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="about-move">
                <div class="services-details">
                    <div class="single-services">
                        <h4>Adaptable Tools</h4>
                        <p class="text-justify">
                            Whether or not you have to run an online investigation, a flexible survey with full-included phones, 
                            PDA, tablets, phone select to an online web study, IVR(intuitive voice response), or direct standard phone talk with, 
                            Slick Services has the experience and ability to understand and nimbly you with your picked procedure. 
                            Our association's particular limits will be used by our incredibly experienced scientists, 
                            adventure the board staff, board specialists, and programming experts. 
                            As bright associates to our clients, we are centered around your flourishing.
                        </p>
                    </div>
                </div>
                <!-- end about-details -->
                </div>
            </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 col-sm-6" ></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <h4>Lucidity</h4>
                            <p class="text-justify">
                                Our persistent data reporting system licenses us to make and present ongoing complex custom order counts, 
                                stunned flags, infers, mode, center, standard deviation, complex weighting. 
                                Our clients acknowledge continuous critical reports joining dashboards with consistent graphs and diagrams. 
                                We give you a mystery word guaranteed to uncover mechanical assembly, which shows continuous results, 
                                including mien and sum reports, graphs, and diagrams in Html, Excel, and printed plan. 
                                Ceaseless data is given in SPSS, ASCII, comma-delimited, twofold, CSV, and Excel. 
                                Furthermore, to polish it off, our specifying structure doesn't cost you a dime. 
                                Stop sitting around and let our automated limits update your following reports.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- end col-md-4 -->
                    <div class=" about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <h4>High Touch</h4>
                            <p class="text-justify">
                                A partner reliably is open to you, your gathering, and your endeavor. 
                                While we give our clients the sole reason for contact all through your endeavor and after, 
                                we don't stop there. Our submitted, cross-utilitarian, customer-driven gatherings give you a complete resource course of action. 
                                Our researchers, adventure directors, board geniuses, and engineers give adventure understanding, helpful and capable information, 
                                desires, and advancing examination inclination that is unmatched in the business. We try to be the best.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                    </div>
                </div>    
            </div>
            <div class="row text-center">
                <div class="col-md-6 col-sm-6"></div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <h4>Clarity, Class & Flawlessness</h4>
                                <p class="text-justify">
                                    Acknowledgment for lucidity and ease. We acknowledge that life is adequately frustrated; 
                                    that is the explanation we endeavor to improve advancing and business. 
                                    Along these lines, we rationally explain all the nuances and irregular information, 
                                    to the people who at first meet certifiable displaying.
                                </p>
                                <p class="text-justify">
                                    All that we do, we do with taste. Our calculations are accurate. 
                                    APC program or estimation is lovely if it uses a limited amount of code for an unprecedented effect. 
                                    Concerning promoting, an answer may be seen as plentiful if it uses a non-clear technique to convey an answer which is significantly fruitful and essential.
                                </p>
                                <p class="text-justify">
                                    Whatever the level of multifaceted nature of your work requirements, we can complete the duty. 
                                    Our abilities consolidate stunning parts, present-day skip structures, system upheavals, 
                                    sophisticated assurance strategies, channeling, back referencing, video holding and presentation, 
                                    Flash and CBC, ACA, and Max/Diff Sawtooth Conjoint.
                                </p>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
            
            </div>
            
            
        </div>    
    </div>      
    <!-- End About Section -->

  {% endblock %}