{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Slick Services</title>
  <meta content="" name="descriptison">
  <meta content="slick services, SLICKSERVICES, survey Programming, Market research, data processing, tabulations, open end coding" name="keywords">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'mainwebsite/img/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'mainwebsite/img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'mainwebsite/img/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'mainwebsite/img/site.webmanifest' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'mainwebsite/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'mainwebsite/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'mainwebsite/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'mainwebsite/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'mainwebsite/vendor/nivo-slider/css/nivo-slider.css' %}" rel="stylesheet">
  <link href="{% static 'mainwebsite/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'mainwebsite/vendor/venobox/venobox.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'mainwebsite/css/style.css' %}" rel="stylesheet">
  {% block internal_css %} {% endblock %}
</head>

<body data-spy="scroll" data-target="#navbar-example">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{% url 'mainwebsite:index'%}"><span>slick</span>SERVICES</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/mainwebsite/img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="{{homepage}}"><a href="/#home">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#services">Services</a></li>
          <li><a href="/#team">Team</a></li>
          <li class="{{contactus}}"><a href="{% url 'mainwebsite:contactus' %}">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  {% block slider %}
  {% endblock %}
  

  <!-- ====== Main Block ====== -->
  <main id="main">
    {% block main %}
    {% endblock %}    

  </main>
  <!-- ======= End main ===== -->

  <!-- ======= Footer ======= -->
  <footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2><span>slick</span>SERVICES</h2>
                </div>

                <p><h5>Our creativity is your start of successful projects!</h5></p>
                <div class="footer-icons">
                  <ul>
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-google"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-pinterest"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>information</h4>
                <p>
                  We are a team of top industry leaders with years of experience in web design and development as well as Market Research who strive for creating web applications for Project Management and Panel Management that helps you to attract the attention of your potential customers and business partners.
                </p>
                
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Instagram</h4>
                <div class="flicker-img">
                  <a href="#"><img src="{% static 'mainwebsite/img/portfolio/1.jpg' %}" alt=""></a>
                  <a href="#"><img src="{% static 'mainwebsite/img/portfolio/2.jpg' %}" alt=""></a>
                  <a href="#"><img src="{% static 'mainwebsite/img/portfolio/3.jpg' %}" alt=""></a>
                  <a href="#"><img src="{% static 'mainwebsite/img/portfolio/4.jpg' %}" alt=""></a>
                  <a href="#"><img src="{% static 'mainwebsite/img/portfolio/5.jpg' %}" alt=""></a>
                  <a href="#"><img src="{% static 'mainwebsite/img/portfolio/6.jpg' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                &copy; Copyright <strong><span style="color: #3ec1d5;">slick</span>SERVICES</strong>. All Rights Reserved
              </p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'mainwebsite/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'mainwebsite/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'mainwebsite/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'mainwebsite/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'mainwebsite/vendor/appear/jquery.appear.js' %}"></script>
  <script src="{% static 'mainwebsite/vendor/knob/jquery.knob.js' %}"></script>
  <script src="{% static 'mainwebsite/vendor/parallax/parallax.js' %}"></script>
  <script src="{% static 'mainwebsite/vendor/wow/wow.min.js' %}"></script>
  <script src="{% static 'mainwebsite/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'mainwebsite/vendor/nivo-slider/js/jquery.nivo.slider.js' %}"></script>
  <script src="{% static 'mainwebsite/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'mainwebsite/vendor/venobox/venobox.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'mainwebsite/js/main.js' %}"></script>

</body>

</html>