{% extends 'mainwebsite/base.html' %}

{% block main %}
<!-- ======= Blog Header ======= -->
<div class="header-bg page-area" style="background: url('/static/mainwebsite/img/blog/careers.jpg'); background-repeat: no-repeat; background-size: cover;background-position: top center;">
    <div class="home-overly"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="slider-content text-center">
            <div class="header-bottom">
              <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                <h1 class="title2">Careers</h1>
              </div>
              <!-- <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                <h2 class="title3">Profesional Blog Page</h2>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Blog Header -->

  <!-- ======= Services Section ======= -->
  <div id="" class="services-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline services-head text-center">
                <h2>Our Services</h2>
                </div>
            </div>
        </div>
        <div class="row text-center">
        <!-- Start Left services -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="about-move">
                <div class="services-details">
                    <div class="single-services">
                        <img class="rounded" height="200px" width="200px" src="/static/mainwebsite/img/job description/angular-logo.png" alt="angular developer">
                        <br>
                        <h4>FRONT-END DEVELOPER (ANGULAR 7+)</h4>
                        
                        <br>
                        <h5>KEY RESPONSIBILITIES</h5>
                        <ol style="text-align: left!important;padding-inline-start: 40px">
                            <li> Analyzing user requirements and developing webpage as per user requirements.</li>

                            <li> Updating, repairing, modifying and developing the existing products and generic applications in Web Technology.</li>

                            <li> Strong object-oriented programming and problem-solving skills.</li>

                            <li> Designing, coding and modifying websites, from layout to function according to the client’s specifications</li>

                            <li> Deliver as per the quality standards set by the organization.</li>

                            <li> Preparing design and testing documents for developed applications by following the documentation protocols laid by the organization.</li>
                            
                        </ol>
                        <br>
                        <h5>SKILLS/EXPERTISE</h5>
                        <ul style="text-align: left!important;padding-inline-start: 40px; list-style-type: disc;">
                            <li> Hands-on experience with Web Applications and programming languages:</li>
                            <p>
                                - AngularJS with RestAPI
                                <br>
                                - Familiarity with JIRA & GitHub
                                <br>
                                - Knowledge of AWS Cloud will be an advantage
                            </p>
                            <li> Knowledge of modern authorization mechanisms such as JSON Web Token.</li>

                            <li> Excellent verbal and written communication skills.</li>

                            <li> Should have a good grasp of new technology.</li>

                            <li> Knowledge of Python is also an advantage.</li>

                            <li><b>Position:</b> Front-End Developer (Angular JS 7+)</li>
                            <li><b>Job Shift:</b> 10:00 - 19:00 IST </li>
                            <li><b>Experience:</b> 7 years and above </li>
                            <li><b>Education:</b></li>
                            <p>
                                - B.E / B.Tech / M.Tech in Computers / MCA.
                                <br>
                                - B.E / B.Tech in any other stream can apply if the candidate has relevant work experience. 
                            </p>
                            <li><b>Job Location:</b> Ahmedabad (WFH until Oct 2020 due to Covid-19)</li>
                            
                        </ul>
                    
                    </div>
                </div>
                <!-- end about-details -->
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="about-move">
                <div class="services-details">
                    <div class="single-services">
                        <img class="rounded" height="200px" width="200px" src="/static/mainwebsite/img/job description/python-logo.png" alt="python developer">
                        <br>
                        <h4>PYTHON/DJANGO DEVELOPER (2+)</h4>
                        <p class="text-justify">
                            Slick Services provide a great arrangement that joins all the highlights you may require in venture the executive's device: ventures and assignments, contact the board, cites, group coordinated effort, charging, and detailing.
                        </p>
                        <br>
                        <h5>KEY RESPONSIBILITIES</h5>
                        <ol style="text-align: left!important;padding-inline-start: 40px">
                            <li> Writing reusable, testable, and efficient code..</li>

                            <li> Develop cloud-based Python Django software products.</li>

                            <li> Designing and creating RESTful APIs for internal and partner consumption.</li>

                            <li> Implementation of security and data protection.</li>

                            <li> Deliver as per the quality standards set by the organization.</li>

                            <li> Working in waterfall and an agile environment with an excellent team of engineers.</li>
                            
                        </ol>
                        <br>
                        <h5>SKILLS/EXPERTISE</h5>
                        <ul style="text-align: left!important;padding-inline-start: 40px; list-style-type: disc;">
                            <li> Expert in Python, with knowledge of at least one Python web framework (such as Django, Flask, etc depending on your technology stack).</li>
                        
                            <li> Familiarity with some ORM (Object Relational Mapper) libraries.</li>

                            <li> Able to integrate multiple data sources and databases into one system.</li>

                            <li> Solid database skills in a relational database (i.e. PostgresSQL, MySQL, etc.)</li>

                            <li> Knowledge of how to build and use with RESTful APIs.</li>

                            <li> Strong knowledge of version control (i.e. git, JIRA, etc.).</li>

                            <li> Experience deploying Python applications into production.</li>

                            <li> Amazon Web Services (AWS) infrastructure knowledge is a plus.</li>

                            <li><b>Position:</b> Python/Django Developer (2+ years of experience)</li>
                            <li><b>Job Shift:</b> 10:00 - 19:00 IST </li>
                            <li><b>Experience:</b> 2 years and above </li>
                            <li><b>Education:</b></li>
                            <p>
                                - B.E / B.Tech / M.Tech in Computers / MCA.
                                <br>
                                - B.E / B.Tech in any other stream can apply if the candidate has relevant work experience. 
                            </p>
                            <li><b>Job Location:</b> Ahmedabad (WFH until Oct 2020 due to Covid-19)</li>
                            
                        </ul>
                    
                    </div>
                </div>
                <!-- end about-details -->
                </div>
            </div>
        </div>
    </div>
    </div>
    
  {% endblock %}