{% extends 'mainwebsite/base.html' %}

{% block main %}

    <!-- ======= Services Section ======= -->
    <div id="" class="services-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline services-head text-center">
                    <h2>Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center">
            <!-- Start Left services -->
            <div id="project-management-tool" class="area-padding col-md-6 col-sm-6 col-xs-12">
                <div class="about-move">
                <div class="services-details">
                    <div class="single-services">
                        <a class="services-icon" href="#">
                            <i class="fa fa-dashboard"></i>
                        </a>
                        <h4>Project Management Tool</h4>
                        <p class="text-justify">
                            Slick Services provide a great arrangement that joins all the highlights you may require in venture the executive's device: ventures and assignments, contact the board, cites, group coordinated effort, charging, and detailing.
                        </p>
                        <br>
                        <h5>Top Features of our Tool</h5>
                        <ul style="text-align: left!important;padding-inline-start: 40px">
                            <li><i class="fa fa-check"></i>	Projects with sub-tasks and deadlines</li>
                            <li><i class="fa fa-check"></i>	Real-time dashboard</li>
                            <li><i class="fa fa-check"></i>	Shared team calendar & meeting scheduling</li>
                            <li><i class="fa fa-check"></i>	Contact management</li>
                            <li><i class="fa fa-check"></i>	Time tracking and billing for work</li>
                            <li><i class="fa fa-check"></i>	Detailed reports on project progress and finances</li>
                            <li><i class="fa fa-check"></i>	Quoting and invoicing with pre-set templates</li>
                            <li><i class="fa fa-check"></i>	Assigned user roles</li>
                            <li><i class="fa fa-check"></i>	Online team discussions and chats</li>
                            <li><i class="fa fa-check"></i>	Task delegating and assignments</li>
                            <li><i class="fa fa-check"></i>	Secure file storage</li>
                            <li><i class="fa fa-check"></i>	Email and desktop notifications</li>
                        </ul>
                        <br>
                        <p class="text-justify">
                            <b>What's uncommon:</b> Slick Services assists with smoothing out your whole work progress, so you don't have to utilize a variety of instruments for each undertaking. All your significant data is put away in one focal spot. It lets clients make visual management dashboards that can be redone as indicated by close to home inclinations. It's an incredible method to get a snappy outline of your up and coming work and your group's outcomes.
                        </p>
                    
                    </div>
                </div>
                <!-- end about-details -->
                </div>
            </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 col-sm-6" ></div>
                <div id="panel-web-application" class="area-padding col-md-6 col-sm-6 col-xs-12">
                    <div class="about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="fa fa-gears"></i>
                            </a>
                            <h4>Panel Web Application</h4>
                            <p class="text-justify">
                                Our Panel management tools assist organizations with making a modified gateway for their panel.
                                Utilizing this product makes it simple for organizations to select the section and keep up their panels.
                                What's more, panel management programming permits organizations to rapidly and effectively gain knowledge from panelists,
                                make and deal with various panels, construct rich panelist profiles, and target sections of panelists.
                            </p>
                            <br>
                            <h5>For what reason should you use our Panel Management?</h5>
                            <ul class="text-justify">
                                <li><b>Directed Research:</b> Companies are attracted to the simplicity of which they can convey studies to a focus on gathering and get prompt outcomes.</li>
                                <li><b>Better Results:</b> The panel management software gives higher reaction rates and increasingly dependable criticism.</li>
                                <li><b>Snappy Turnaround:</b> Panel management software gives quicker outcomes than practically some other strategy for research.</li>
                                <li><b>Financially savvy:</b> Owning and dealing with a panel inside expenses primarily not as much as buying tests purchased from another source.</li>
                            </ul>
                            <br>
                            <h5>Points of interest</h5>
                            <ol class="text-justify">
                                

                                <li> Panel Management Software:</li>
                                <ul style="margin-left:20px;list-style-type: disc;">
                                    <li>The panel enlistment entryway is anything but difficult to make by utilizing a point and snap interface</li>
                                    <li>Integrate with software frameworks utilizing API</li>
                                    <li>Integrate with Google Analytics to get bits of knowledge into site traffic</li>
                                </ul>

                                <li>Add Panelists Using the Various Signup/Invitation Options:</li>
                                <ul style="margin-left:20px;list-style-type: disc;">
                                <li>Unlimited and broadened profiling should be possible by having panel individuals information exchange and take studies for profiling</li>
                                <li>Invitations can likewise be sent by means of email</li>
                                <li>Double pick in confirmation expands the unwavering quality of email greeting conveyance</li>
                                </ul>

                                <li>Panel User Management:</li>
                                <ul style="margin-left:20px;list-style-type: disc;">
                                <li>Customize/include/alter fields for part profiling</li>
                                <li>Profile field investigation and reports give knowledge</li>
                                <li>Export/import panelist information</li>
                                <li>Search/channel panel individuals</li>
                                <li>Bulk update client status (New, Verified, Unsubscribed, Blocked, Pending Moderator Approval, and so forth.)</li>
                                </ul>
                            </ol>
                        
                        </div>
                    </div>
                    <!-- end about-details -->
                    </div>
                </div>
            </div>
            <div class="row text-center">
            <div id="customized-web-appication" class="area-padding col-md-6 col-sm-6 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="fa fa-file-code-o"></i>
                            </a>
                            <h4>Customised Web Application</h4>
                            <p class="text-justify">
                                Custom web development administrations are the center of our business. Directed by heads of advancements, they exceed expectations in building current and future-verification web applications – customized to the necessities of end-clients, intended to arrive at your business objectives. 
                            </p>
                            <p class="text-justify">
                                We're one of the absolute best web development organizations in India. It's reflected in the assessment of our customers whose surveys permitted us to get the highest 5-star rating. They particularly value our all-encompassing methodology: from business examination and UX/UI structure to software development and further support.
                            </p>
                            <br>
                            <h5>Our customized software benefits:</h5>
                            <ul style="text-align: left!important;padding-inline-start: 40px">
                                <li><i class="fa fa-check"></i>Business investigation and necessity understanding/documentation</li>
                                <li><i class="fa fa-check"></i>Re-designing, relocation, modernization, execution tuning and porting administrations</li>
                                <li><i class="fa fa-check"></i>Feasibility examination</li>
                                <li><i class="fa fa-check"></i>Custom module development for eg. a BI apparatus</li>
                                <li><i class="fa fa-check"></i>Custom application plan, engineering development, and execution</li>
                                <li><i class="fa fa-check"></i>Software upkeep and backing</li>
                                <li><i class="fa fa-check"></i>Systems incorporation and union</li>
                                <li><i class="fa fa-check"></i>Full test documentation and all around reported instructional exercises</li>
                            </ul>
                            <br>

                            <h5>What we offer:</h5>
                            <ul class="text-justify">
                                <li><b>UX/UI plan</b>
                                    We unite the ideal tempest of the appealing plan, ease of use, and usefulness to improve your answer significantly. </li>
                                <li><b>Platform enhancement</b>
                                    Smooth Services group wants to play with HTML, CSS, and Java script to make proficient frontend modifications while keeping them in accordance with your desires. </li>
                                <li><b>SPA development</b>
                                    Smooth Services has broad aptitude working with customer side SPA systems to convey simple to-investigate and quick applications. </li>
                                <li><b>Progressive web applications</b>
                                    Our frontend development group creates installable, linkable, organize free, and secure PWAs that will undoubtedly succeed. </li>
                                <li><b>AMP development</b>
                                    We've grasped Google's AMP to empower extremely quick stacking time, lower skip rates, expanded SEO streamlining, and some more.</li>
                            </ul>
                        
                        </div>
                    </div>
                <!-- end about-details -->
                </div>
            </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 col-sm-6"></div>
                    <div id="market-research-survey-programming" class="area-padding col-md-6 col-sm-6 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="fa fa-camera-retro"></i>
                                </a>
                                <h4>Market Research - Survey Programming</h4>
                                <p class="text-justify">
                                    With survey programming organizations, Slick Services can reinforce you in building an adjusted survey and gathering essential data that supports the dynamic strategy. Our online survey programming organizations are anticipated to help overall clients in extending the venture and duty of the respondents while outfitting them with a pleasant experience.
                                </p>
                                <p class="text-justify">
                                    From survey organizing, early on testing through orchestrating and enumerating yield, our electronic survey programming organizations incorporate everything. With our dominance joined with rich experience and access to bleeding-edge survey programming mechanical assemblies, we can profitably make changed, complex surveys in accordance with your requesting requirements.
                                </p>
                                <p class="text-justify">
                                    Slick Services can capably complete even insidiously complex requirements. Multilingual assessments, piping, complex endorsement, dynamic in-page research, and impressively more are all in all standard. Shopping bushels with dynamic conditions, custom itemizing necessities where access changes by respondent title/office/region, multilingual audits with broad spreading, custom warmth maps, and discrete choice practices with wide "just so" thought. When developed, complex presentation schematics can be re-usable over various assignments, occurring in liberally lower costs.
                                </p>
                                <p class="text-justify">
                                    The better survey understanding – It is straightforward. By giving impeccable, apparently captivating, viable surveys that are definitely not hard to investigate, you keep the respondent connected with and secured. You, in like manner, increase survey collaboration and reduce bumbles in light of study fatigue. Slick Services passes on countless factual surveying diagrams with our sensible, changed board and survey programming organizations so you can manage your research business.
                                </p>
                            
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
            <!-- End Left services -->
            </div>
            <div class="row text-center">
                <div id="market-research-data-analysis-and-tabulation" class="area-padding col-md-6 col-sm-6 col-xs-12">
                    <!-- end col-md-4 -->
                    <div class=" about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="fa fa-bar-chart"></i>
                            </a>
                            <h4>Market Research - Data Analysis</h4>
                            <p class="text-justify">
                                Our data processing team helps in effectively managing the data collected using different medium and then compile it to derive meaningful insights. Our team is experienced on diverse platforms such as Quantum, SPSS, Wincross, and many more.
                            </p>
                            <p class="text-justify">
                                Raw data can, now and again, look overwhelming. That is the explanation we are here to help you with making your research less complex, snappier, and even greater, using distinctive measurable looking over instruments like verbatim coding and association. Verbatim coding joins coding of open-completed or semi-open-completed requests, of brand names, motivations, and promotion delineations. Characterization drew up tables for concurrence with your game plan, recoding factors, essential changes of tables for later research, and multivariate surveys.
                            </p>
                            <p class="text-justify">
                                Slick Services offers Data Tabulation organizations using standard quantifiable virtual items for programming and coordinating distinctive genuine tests. The tabulation of study results opens up a completely extraordinary universe of encounters. Comparing respondent fragment data to respondent choices reveal significantly increasingly about customer areas and their choices and tendencies.
                            </p>
                            <p class="text-justify">
                                For example, consumer faithfulness scores reveal key drivers of satisfaction on a sweeping level, be that as it may, cross arranging this data with respondent fragment data reveal critical drivers of satisfaction for express customer economics and segments helping affiliations give indications of progress understanding of their customer base. In this way, an advancing practicality overview can help relationships with concentrating on customer areas with redid exhibiting messages that resonate with express customers and bits.
                            </p>
                            <p class="text-justify">
                                In marketing research, verbatim coding is the assignment of numeric codes to various words, phrases, considerations, sounds, or pictures, so information and significance can be evacuated and separated quantitatively. Open-finished responses in diagrams, CRM systems, web-based systems administration, IVR structures, customer records, and customer analysis structures all address opportunities to apply verbatim coding to dismember and quantify what people are thinking and saying. The colossal information got as a result of coding would then have the option to be used by associations to help choose the best business decisions.
                            </p>
                            <p class="text-justify">
                                Verbatim coding is used in measurable reviewing to orchestrate open-end responses for quantitative examination. Outline Research will make a massive piece of Market Research. Review research proposes friendly exchanges to a democratic open to get information into their considerations and tendencies by responses. Researchers use reads and the information for certain reasons: clients un waveringness, delegate satisfaction, purchasing affinity, sedate practicality, and some more.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                    </div>
                </div>
                <!-- End Left services -->
            </div>
            
        </div>
    </div>
    
    
    <!-- End Services Section -->

    
  {% endblock %}